@font-face {
  font-family: 'symbols-sedona';
  src: url('../fonts/symbols-sedona.eot?60737633');
  src: url('../fonts/symbols-sedona.eot?60737633#iefix') format('embedded-opentype'),
       url('../fonts/symbols-sedona.woff?60737633') format('woff'),
       url('../fonts/symbols-sedona.ttf?60737633') format('truetype'),
       url('../fonts/symbols-sedona.svg?60737633#symbols-sedona') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'symbols-sedona';
    src: url('../font/symbols-sedona.svg?60737633#symbols-sedona') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "symbols-sedona";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-facebook:before { content: '\66'; } /* 'f' */
.icon-twitter:before { content: '\74'; } /* 't' */
.icon-up-dir:before { content: '\25b2'; } /* '▲' */
.icon-down-dir:before { content: '\25bc'; } /* '▼' */
.icon-star:before { content: '\2605'; } /* '★' */
.icon-check-off:before { content: '\2610'; } /* '☐' */
.icon-check-on:before { content: '\2611'; } /* '☑' */
.icon-calendar:before { content: '\e800'; } /* '' */
.icon-plus:before { content: '\e801'; } /* '' */
.icon-minus:before { content: '\e802'; } /* '' */
.icon-youtube:before { content: '\f39e'; } /* '' */
body
{
	color: #000000;
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 26px;
	text-transform: uppercase;
}
h1
{
	color: #000000;
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
}
h2
{
	color: #000000;
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 21px;
	line-height: 21px;
}
a
{
	text-decoration: none;
}
p
{
	margin: 0;
	padding: 0;
	text-align: center;
}
ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}
.clearfix:after
{
	clear: both;
	content: "";
	display: table;
}
.container
{
	background-color: white;
	box-shadow: 0 0 20px 0 rgba(0,0,0,.2);
	margin: 0px auto;
	max-width: 1200px;
	min-width: 786px;
}
.header
{
	background-color: white;
	height: 57px;
	min-width: 768px;
	position: relative;
	z-index: 2;
}
.header-main
{
	font-size: 0;
	list-style-type: none;
	padding-left: 0;
	width: 100%;
}
.bg-logo
{
	position: relative;
	z-index: 10;
}
.bg-logo::before
{
	background-color: #81b3d2;
	border-radius: 10px;
	content: "";
	display: block;
	height: 110px;
	left: 50%;
	margin-left: -55px;
	ms-transform: rotate(45deg);
	position: absolute;
	top: -60px;
	transform: rotate(45deg);
	webkit-transform: rotate(45deg);
	width: 110px;
	z-index: -1;
}
.header-content
{
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	width: 20%;
}
.header-content>a
{
	color: black;
	font-size: 14px;
	font-weight: 700;
	text-decoration: none;
	text-transform: uppercase;
}
.header-content>a:hover
{
	color: #81b3d2;
}
.header-content>a:active
{
	color: #b2b2b2;
}
.big-logo
{
	background: #ffffff url("../img/background photo.jpg") no-repeat 50% 21%;
	background-size: cover;
	height: 514px;
	margin-bottom: 60px;
	margin-top: -10px;
	width: 100%;
	z-index: 10;
}
.big-logo::before
{
	background: url("../img/background_shape.png") no-repeat 0 100%;
	background-size: contain;
	content: "";
	left: 1;
	min-height: 57px;
	position: absolute;
	top: 506px;
	width: 100%;
}
.reasons-header
{
	padding: 0 75px;
	text-align: center;
}
.text
{
	margin-bottom: 50px;
	margin-top: 30px;
}
.left
{
	float: left;
	width: 400px;
}
.reason-1 img
{
	float: right;
}
.right
{
	float: right;
	text-align: right;
}
.reason-2 img
{
	float: left;
}
.reason
{
	margin-top: 3px;
}
.reasons-item
{
	background-color: #81b3d2;
	color: #ffffff;
	height: 201px;
	padding-bottom: 23px;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 31px;
	text-align: center;
	width: 302px;
}
.reasons-title
{
	color: #ffffff;
	margin-bottom: 23px;
	padding: 0px 16px;
}
.reasons-item p
{
	padding-top: 15px;
}
.features-item
{
	float: left;
	margin-left: 65px;
	margin-right: 103px;
	margin-top: 55px;
	margin-bottom:10px;
	min-height: 270px;
	width: 230px;
}
.features-item img
{
	margin-left: 100px;
}
.features-title
{
	margin-left: 42px;
	text-align: center;
	margin-top: 25px;
}
.features-text
{
	line-height: 21px;
	margin-left: -10px;
	margin-top: 27px;
	text-align: center;
	width: 310px;
}
.reason-grey
{
	background-color: #eeeeee;
	color: #000000;
	float: left;
	margin-bottom: 10px;
	width: 300px;
}
.grey-title
{
	color: #000000;
	margin-top: 0px;
	padding: 20px 0;
	margin-bottom:3px;
}
.reason-grey p
{
	padding: 7px 7px;
	padding-left: 25px;
}
.reason-grey .narrow-text
{
	margin: 14px auto;
	width: 240px;
}
.appointment
{
	position: relative;
}
.search-title
{
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 17px;
	padding: 14px 0;
	text-align: center;
}
.appointment p
{
	line-height: 24px;
	margin: 0 auto;
	margin-bottom: 45px;
	width: 440px;
}
.map iframe
{
	width: 100%;
}
.popup-form
{
	background: #ffffff none repeat scroll 0 0;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
	margin-left: 26%;
	margin-right: 25%;
	opacity: 0;
	position: absolute;
	transition: 0.3s;
	webkit-transition: 0.3s;
	width: 570px;
	z-index: 10;
}
.popup-form.active
{
	opacity: 1;
}
.popup-form-header
{
	margin-left: 26%;
	margin-right: 25%;
	margin-top: 40px;
}
.popup-btn
{
	background-color: #766357;
	border: 0;
	color: white;
	font-size: 21px;
	font-weight: 400;
	padding-bottom: 30px;
	padding-top: 30px;
	text-transform: uppercase;
	width: 570px;
}
.popup-label
{
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
}
.popup-form-in
{
	margin-bottom: 30px;
	margin-top: 55px;
}
.popup-form-out
{
	margin-bottom: 30px;
}
.popup-form-data
{
	margin-bottom: 30px;
	margin-left: 55px;
	margin-right: 55px;
}
.form-old
{
	float: left;
	margin-left: 55px;
	margin-top:-10px;
}
.form-babes
{
	float: right;
	margin-right: 60px;
	margin-top:-10px;
}
input::-webkit-input-placeholder
{
	color: black;
}
.form-type
{
	background-color: #f2f2f2;
	border: 0;
	color: black;
	font-family: 'PT Sans', Arial, Helvetica, Garuda, sans-serif;
	font-size: 14px;
	font-weight: 700;
	outline: none;
	padding: 8px 14px;
	text-transform: uppercase;
	width: 317px;
}
.form-type:focus
{
	background-color: white;
	box-shadow: inset 0 0 0 1px #f2f2f2;
}
.form-type
{
	background-image: url("../img/cal.png");
	background-position: 96%;
	background-repeat: no-repeat;
}
.form-type:hover
{
	background-image: url("../img/call-black.png");
	background-position: 96%;
	background-repeat: no-repeat;
}
.form-type:active
{
	background-image: url("../img/call-blue.png");
	background-position: 96%;
	background-repeat: no-repeat;
}
.popup-label>.form-type
{
	margin-left: 15px;
}
.form-old>.btn-minus
{
	margin-left: 34px;
}
.form-babes>.btn-minus
{
	margin-left: 25px;
	margin-right: 0;
}
.btn-plus,
.btn-minus
{
	color: #a9a9a9;
}
.btn-plus:hover,
.btn-minus:hover
{
	color: black;
}
.btn-plus:active,
.btn-minus:active
{
	color: #81b3d2;
}
.form-qty
{
	display: inline-block;
	margin-left: -4px;
	margin-right: -4px;
	padding: 0;
	text-align: center;
	vertical-align: top;
}
.popup-human>.form-type
{
	background: #f2f2f2;
	border: 0px;
	height: 38px;
	width: 38px;
}
.appontment-form-submit
{
	background-color: #81b3d2;
	border: 0;
	margin: 50px 60px 50px 55px;
	padding-bottom: 19px;
	padding-top: 18px;
	width: 455px;
}
.appontment-form-submit:hover
{
	background-color: #669ec0;
}
.appontment-form-submit:active
{
	background-color: #5496bd;
	color: #88b6d1;
}
.feature-search-form
{
	background-color: #81b3d2;
	background-image: url("../img/check_block_img.jpg");
	background-position: 0px -286px;
	background-repeat: no-repeat;
	color: #ffffff;
	height: 215px;
	margin-bottom: 4px;
}
.feature-search-form h3
{
	font-size: 14px;
	font-weight: normal;
	line-height: 21px;
	margin-bottom: 25px;
}
.right-column h3
{
	margin-bottom: 25px;
}
.column
{
	padding: 0;
	width: 160px;
}
.column label
{
	display: block;
	padding-bottom: 8px;
	padding-left: 39px;
	padding-top: 11px;
	position: relative;
}
.feature-search-form input[type="checkbox"]
{
	display: none;
}
.feature-search-form input[type="checkbox"] + label::before
{
	color: #b5b5b5;
	content: "\2610";
	display: block;
	font-family: "symbols-sedona";
	font-size: 26px;
	left: 0;
	position: absolute;
	top: 12px;
}
.feature-search-form input[type="checkbox"]:checked + label::before
{
	color: #b5b5b5;
	content: "\2611";
	font-family: "symbols-sedona";
	font-size: 26px;
	left: 0px;
	position: absolute;
	top: 12px;
}
.feature-search-form input[type="checkbox"]:disabled + label::before
{
	color: #6a6a6a;
}
.feature-search-form input[type="checkbox"] + label:hover::before
{
	color: #ffffff;
}
.infrastructure
{
	float: left;
	margin-left: 6%;
}
.infrastructure>h3
{
	font-size: 16px;
	margin-bottom: 15px;
	margin-left: 1px;
	margin-top: 25px;
}
.accomodation-type
{
	float: left;
	margin-left: 8%;
}
.accomodation-type>h3
{
	font-size: 16px;
	margin-bottom: 15px;
	margin-left: 3px;
	margin-top: 25px;
}
fieldset
{
	border: none;
}
.price
{
	float: right;
	margin: 25px 60px;
}
.filter-range
{
	color: #ffffff;
	width: 320px;
}
.filter-range-title
{
	font-size: 14px;
	font-weight: normal;
	line-height: 21px;
	margin-bottom: 9px;
	margin-left:-10px;
}
.price-controls
{
	border: 2px solid #ffffff;
	border-radius: 2px;
	font-size: 0;
	height: 36px;
	margin-bottom: 20px;
	position: relative;
}
.price-controls::after
{
	background: #ffffff;
	content: "";
	height: 22px;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 2px;
}
.price-controls label
{
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	line-height: 38px;
	vertical-align: top;
}
.price-controls .min-price,
.price-controls .max-price
{
	padding-left: 65px;
	width: 90px;
}
.price-controls input
{
	background: none;
	border: none;
	color: inherit;
	font: inherit;
	margin: 0;
	outline: none;
	width: 50px;
}
.range-controls
{
	margin-bottom: 32px;
	position: relative;
}
.range-controls .scale
{
	background: rgba(255, 255, 255, 0.3);
	height: 2px;
}
.range-controls .bar
{
	background: #ffffff;
	height: 2px;
	width: 80%;
}
.range-toggle
{
	background: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	cursor: pointer;
	height: 4px;
	position: absolute;
	top: -9px;
	width: 4px;
}
.range-toggle:hover
{
	background: #1c4f80;
}
.range-toggle-min
{
	left: 0;
}
.range-toggle-max
{
	left: 80%;
}
.btn-transparent
{
	background: transparent;
	border: 2px solid #ffffff;
	border-radius: 2px;
	color: #ffffff;
	cursor: pointer;
	display: block;
	font-size: 14px;
	line-height: 20px;
	margin: 0 auto;
	outline: none;
	padding: 6px 40px;
}
.btn-transparent:hover
{
	background: #ffffff;
	color: #000000;
}
.results-count
{
	padding-bottom: 12px;
	padding-top: 15px;
}
.results-count>h2,
.sort
{
	display: inline-block;
}
.results-count>h2
{
	font-size: 21px;
	margin-left: 6%;
	text-align: left;
	width: 135px;
}
.sort
{
	text-align: left;
}
.sort>p
{
	display: inline-block;
	font-size: 12px;
	font-weight: 400;
	margin-right: 35px;
	margin-left:17px;
}
.sort>a
{
	border-bottom: 1px dotted;
	color: #d1d1d1;
	font-size: 12px;
	font-weight: 400;
	margin-right: 30px;
	text-decoration: none;
}
.sort>a:hover
{
	color: #89b8d5;
}
.sort>a:active
{
	color: #c7c7c7;
	text-decoration: none;
}
.sort>.active-sort
{
	border-bottom: 0;
	color: #89b8d5;
}
.sort-list-up-down
{
	float: right;
	margin-right: 6%;
	margin-top: 10px;
}
.sort-list-up-down a
{
	color: gray;
	display: inline-block;
	font-size: 20px;
	height: 25px;
	vertical-align: top;
	width: 25px;
}
.sort-list-up-down .active
{
	color: #89b8d5;
}
.sort-list-up-down a:hover
{
	color: black;
}
.sort-list-up-down a:active
{
	color: #89b8d5;
}
.hotel
{
	border-top: 1px solid #e5e5e5;
	padding-bottom: 30px;
	padding-top: 30px;
}
.hotel:last-child
{
	border-bottom: 1px solid #e5e5e5;
}
.results-hotel
{
	border-top: 1px solid #e5e5e5;
	display: inline-block;
	margin-bottom: 18px;
	padding-top: 30px;
	width: 100%;
}
.results-hotel img
{
	float: left;
	margin-left: 70px;
}
.central-column
{
	float: left;
	width: 380px;
}
.hotel-name
{
	color: #000000;
	display: block;
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
	margin-bottom: 6px;
	margin-left: 31px;
	margin-top: -4px;
	padding-top: 0px;
	text-decoration: none;
	width: 330px;
}
.hotel-name:hover
{
	color: #81b3d2;
}
.hotel-name:active
{
	color: #cacaca;
}
.results-hotel-type,
.results-price-range
{
	display: inline-block;
	font-size: 14px;
	font-weight: normal;
	line-height: 21px;
	vertical-align: top;
}
.results-hotel-type
{
	margin-left: 31px;
	width: 110px;
}
.results-price-range
{
	margin-left: 2px;
	margin-right: 90px;
}
.btn
{
	color: #ffffff;
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	line-height: 21px;
	margin-top: 14px;
	padding: 3px 16px;
	text-decoration: none;
	vertical-align: top;
}
.btn-more
{
	background-color: #81b3d2;
	margin-left: 32px;
	margin-right: 2px;
}
.btn-more:hover
{
	background-color: #669ec0;
}
.btn-more:active
{
	background-color: #5496bd;
	color: #94b9d2;
}
.btn-book
{
	background-color: #766357;
}
.btn-book:hover
{
	background-color: #604e43;
}
.btn-book:active
{
	background-color: #503e33;
	color: #928a85;
}
.gallery-item-rating
{
	float: right;
	font-size: 0;
	margin-right: 6%;
}
.gallery-item-rating>.icon-star
{
	color: #81b3d2;
	float: right;
	font-size: 19px;
	margin-left:-4px;
	margin-top:-5px;
	padding-left:-10px;

}
.gallery-item-rating>p
{
	background-color: #f2f2f2;
	color: #666;
	font-size: 14px;
	margin-top: 60px;
	padding: 5px 17px;
}
.inner-form
{
	display: block;
	margin: 0 auto;
	width: 453px;
}
.inner-form .icon-calendar
{
	left: 475px;
}
.footer
{
	background: white;
	width: 100%;
	height:122px;
}
.footer-main
{
	margin-top: -130px;
	opacity: 0.9;
	position: relative;
}
.footer-content
{
	display: inline-block;
	padding-bottom: 30px;
	padding-top: 32px;
	text-align: center;
	vertical-align: middle;
	width: 33%;
}
.footer-heshteg>a
{
	color: black;
	font-size: 21px;
	font-weight: 700;
	text-decoration: none;
	text-transform: uppercase;
}
.social-btn
{
	background-color: #81b3d2;
	color: white;
	display: inline-block;
	font-size: 21px;
	padding: 10px;
	vertical-align: middle;
}
.social-btn:hover
{
	background-color: #669ec0;
}
.social-btn:active
{
	background-color: #5496bd;
}
.footer-copyright
{
	float: right;
	margin-right: 1px;
	margin-top: 35px;
	padding-right: 95px;
}
.footer-copyright span
{
	display: inline-block;
	padding: 9px 5px;
	vertical-align: top;
}
.footer-copyright a
{
	background: #ffffff url("../img/HTMLAcademy-logo-sprite.png") no-repeat top;
	display: inline-block;
	font-size: 0;
	height: 39px;
	text-decoration: none;
	vertical-align: top;
	width: 113px;
}
.footer-copyright a:hover
{
	background-position: 0 -40px;
}
.footer-copyright a:active
{
	background-position: 0 -80px;
}
.footer-hotels
{
	border-top: 1px solid #e5e5e5;
}